<!DOCTYPE html>
<html lang= "en">
<head>    
    <title>Michael Fink</title>
    <meta charset="UTF-8">
    <meta name="description" content="Michael Fink's Portfolio Website">
    <meta name="keywords" content="Mike Fink Software Engineer Full Stack Developer Code Programming ">
    <meta name="author" content="Mike Fink Jr.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<meta name="google" content="notranslate" />

		<!-- Disable tap highlight on IE -->
		<meta name="msapplication-tap-highlight" content="no">

		<!-- <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
		<link href="./assets/favicon.ico" rel="icon">
		-->

	<title>Mike Fink</title>  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/darkly/bootstrap.min.css">
	<% if(index===1) { %>
		<link rel="stylesheet" type="text/css" href="css/timeline.css">  
	<% } else if(index===5) { %>
			<link rel="stylesheet" type="text/css" href="css/resume.css">
	<% } else { %> 
		<link rel="stylesheet" type="text/css" href="css/main.css">  
	<% } %>
  
</head>

<% include ./nav.ejs %>



