
<% include ./../partials/header.ejs %>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
<h3>Do to the fact that I have no free time in my life and that I made the majority of this website in 3 sittings for the sole purpose of not studying for an exam or not doing work...<br>
    I regret to inform you that this link is not yet completed.</h3>
    <h3>But don't worry I'm working like a dog to find time to finish this link!  </h3>
 <img src="/images/dog.gif" alt="I'm working on it" title="I'm working on it" />

</div></div></div></div></div>
  <% include ./../partials/footer.ejs %>