  
  <% include ./../partials/header.ejs %>
<div class="row col">
  <div class= "col"></div>
  <div class= "col">
    <div class="resume row">
      <span class="resume-spacer"></span>
      <a class="resume-btn" href="/resume/download/pdf">Download My .pdf Resume!</a>
    </div>  
  </div>
  <div class= "col"></div>
  <div class= "col">
    <div class="resume row">
      <span class="resume-spacer"></span>
      <a class="resume-btn" href="/resume/download/docx">Download My .docx Resume!</a>
    </div>
  </div>
  <div class= "col"></div>
</div>

  <% include ./../partials/footer.ejs %>

